# Ignorar diretórios de compilação
*/bin/
*/target/

# Ignorar arquivos temporários e de configuração de IDEs
*/.vscode/

# Ignorar arquivos de log
*.log

# Ignorar arquivos de sistema do Windows
Thumbs.db
Desktop.ini

# Ignorar arquivos de backup e temporários de editores de texto
*~
*.bak
*.swp
